<div class="ngdialog-message">
  <div class="text-center">
    <h4>Login to Pill Reminder</h4>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <a href="/auth/google" class="btn btn-danger btn-lg btn-block" role="button" aria-disabled="true"><i class="fa fa-google"
        aria-hidden="true"></i>  Login with Google</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <a href="/auth/facebook" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true"><i class="fa fa-facebook-official"
          aria-hidden="true"></i>  Login with Facebook</a>
        </div>
      </div>
      <br>


      <div class="text-right"><button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog( "Cancel")>Cancel</button></div>

    </div>
