<div >
<div>
	<ul class="nav nav-tabs">
		<li ng-class="{active:isSelected('home')}"><a ng-click="selectTab('home')">Home</a></li>
		<li ng-class="{active: isSelected('update')}"><a ng-click="selectTab('update')">Update</a></li>
		<li ng-class="{active: isSelected('settings')}"><a ng-click="selectTab('settings')">Settings</a></li>
		<li ng-class="{active: isSelected('history')}"><a ng-click="selectTab('history')">History</a></li>
	</ul>
</div>



<div ng-switch="selection.selected">
	<div ng-switch-when="home">
		<div ng-include="'views/medHome.html'"></div>
	</div>
	<div ng-switch-when="update"><h1>Update! from ng-switch</h1></div>
	<div ng-switch-when="settings"><h1>Settings! from ng-switch</h1></div>
	<div ng-switch-when="history"><h1>History! from ng-switch</h1></div>
</div>
</div>